@import "tailwindcss";

.app-scale {
  width: 1200px;        /* DESIGN WIDTH */
  min-height: 1920px;   /* DESIGN HEIGHT */
  transform: scale(0.625);
  transform-origin: top left;
}
html,
body {
  overflow-x: hidden;
}